<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <title>キノコラボ</title>
</head>
<body>
<header>
    <h1>キノコラボ</h1>
    <p>ログイン</p>
    <p>新規登録</p>
    <p>ログアウト</p>
</header>
<main>
    <select>
        <option value="junior">ジュニアコース</option>
        <option value="senior">シニアコース</option>
        <option value="expert">エキスパートコース</option>
    </select>

    <div class="calender">
        <h4 class="calender-title"></h4>
    </div>

    <div class="calender">
        <h4 class="calender-title"></h4>
    </div>
</main>
<script src="webjars/jquery/3.3.1/jquery.min.js"></script>
<script src="main.js"></script>
</body>
</html>